# server_id 는 master의 server_id와 다르게 입력해야한다
# 읽기 설정으로 하며, I/O Thread를 통해 데이터를 전달 받고 relay log 를 남긴다.

[mysqld]
server_id = 2 # 서버 구분 값
read_only = 1
default_authentication_plugin=mysql_native_password

log_bin = mysql-bin
relay_log = /var/lib/mysql/mysql-relay-bin
binlog-do-db={db_name} 복제할 DB명
log_slave_updates = 1
